.homeContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.featured{
    width: 100%;
   min-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  
 justify-items: center;
  
    /* margin-left: 130px; */
    z-index: 1;
}
.featuredImage{
    width: 100%;
    
    object-fit: cover;
}
.featuredItem{
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    width: 70%;
    border: 2px solid grey;
    background-color: red;
}
.featuredTilte{
    position: relative;
    bottom: 18px;
    left: 20px;
    color: grey;
    font-size: 9px;
    
}
.pListImage{
    width: 300px;
    height: 300px;
}
.hotelDiv>button{
    margin-left: 275px;
    margin-right: 20px;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    opacity: 50%;
    background-color: green;
    color: white;
}

.hotelImageDiv{
    width: 100%;
    height: 100%;
    border: 2px solid cadetblue;
    border-radius: 30px;
}
.hotelImageDiv img{
    height: 100%;
    width: 100%;
    border-radius: 30px;
    object-fit: cover;
}
.hotelDiv{
    height: 500px;
    background-color: rgb(201, 221, 228);
    width: 80%;
    border-radius: 30px;
    position: relative;
}
.title{
    position: absolute;
    bottom: 10px;
    color: rgb(255, 255, 255);
}

/* .hotelDetaildDiv{
    padding: 1%;
} */
.btnFeatures{
    width: 100px;
    height: 40px;
    opacity: 60%;
    color: cadetblue;
    font-size: 18px;
    border-radius: 5px;
    background-color: black;
}
.price-filter-div{
    background-color: green;
    margin-left: 65px;
    height: 60px;
    border-radius: 15px;
   
}
.p{
    width: 80px;
}