 .inputs input{
    width: 350px;
    height: 60px;
    background-color: #fff;
    border-radius: 60px;
    box-shadow: inset 0px 0px 25px 0px #888;
    border: none;
    outline: none;
    padding-left: 15px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}
.inputs{
    margin-top: 130px;
}

#btn{
    
    background-color: cadetblue;
    color: white;
    font-size: 15px;
    border-radius: 60px;
    box-shadow: inset 0px 0px 25px 0px #888;
    border: none;
    outline: none;
    padding-left: 15px;
    margin-top: 15px;
    width: 350px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
}

.container-image{
    background-image: url('../../public/logo.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 115px;
    width: 115px;
    margin-left: 400px;
    margin-bottom: 50px;

  }
  .main{
    
    margin-top: 150px;
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 90px 0 90px 0;
    background-color: rgb(252, 252, 252);
    
    
}
.subMain{
    
    width: 12%;
    height: 680px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: -40px;
    padding: 4%;
    box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
    padding-top: 30px;
    border-radius: 60px;
    background-color: rgb(86, 86, 86);
  
}
.container-image{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.container-image img{
    width: 100px;
    height: 100px;
}
.span2{
    font-size: 15px;
    color: red;
}
a{
    text-decoration: none;
    color:cadetblue;
}
span{
    font-size: 20px;
}