.nav-bar{
    height: 50px;
    background-color: #9cc4df;
    display: flex;
    justify-content: center;
    
}
.nav-container{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    /* align-items: center;
     */
    font-weight: 700px;
    font-size: 20px;
}
.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    font-weight: 700px;
    color: #9cc4df;
    font-size: 18px;
}
