.pList{
    width: 100%;
    max-width: 1024;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.pListItem{
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.pListImage{
    width: 500px;
    height: 400px;
    object-fit: cover;
    margin-left: 80px;
}
.pListTitles>h1{
    font-size: 18px;
    margin-left: 80px;
}
.pListTitles>h2{
    font-size: 18px;
    font-weight: 300;
    margin-left: 80px;
}