.mainSignUp{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.formSignUp{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(111, 117, 117);
    border-radius: 60px;
    height: 60%;
    padding: 20px;
}
.formSignUp>input{
    width: 70%;
    height: 60px;
    background-color: #fff;
    border-radius: 60px;
    box-shadow: inset 0px 0px 25px 0px #888;
    border: none;
    outline: none;
    padding-left: 15px;
    font-size: 18px;
    margin: 4px;
}
.formSignUp>button{
    width: 70% !important;
    height: 60px;
    border-radius: 60px;
    box-shadow: inset 0px 0px 25px 0px #888;
    border: none;
    outline: none;
    font-size: 18px;
    margin: 6px;
}
.formSignimge{
    background-image: url('../../public/logo.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 70%;
}
span{
    color: white;
    margin-bottom: 10px;
    font-size: 18px;
}
a{
    font-size: 18px;
    
}